.header-logo {
    width: 150px;
}

.parentnav.navbar-inverse {
    background-color: #00C853;
    border-color: #00C853;
}

.childnav.navbar-inverse {
    background-color: #ffd600;
    border-color: #ffd600;
}